[submodule "external/paramcoq"]
	path = external/paramcoq_v86
	url = https://github.com/CohenCyril/paramcoq.git
[submodule "external/CoqEAL"]
	path = external/CoqEAL
	url = https://github.com/CoqEAL/CoqEAL.git
	branch = paramcoq-dev
[submodule "external/paramcoq_v87"]
	path = external/paramcoq_v87
	url = https://github.com/aa755/paramcoq.git
